<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/template}"
    >

    <main layout:fragment="main" class="container my-5" style="width:70%;">
    
        
        
        <div class="row border border-3 rounded p-5">
            <!-- 왼쪽: 이미지 -->
		    <!-- 이미지 파일이 있을 경우 표시 -->

            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img th:src="@{/display?filename={file}(file=${product.imageFileName})}" alt="${product.name}" class="img-fluid">
            </div>
            
            <!-- 오른쪽: 정보 -->
            <div class="col-md-6 d-flex flex-column">
                <header class="mb-4">
                    <h3 class="fw-bolder mb-1 text-truncate">[[${product.name}]]</h3>
                </header>
                <div class="mb-0">
                    <p class="fs-5 mb-4">[[${product.detail}]]</p>
                </div>
                <div class="text-end">
                    <h6>[[${product.price}]]원</h6>
                </div>
                <div class="text-end mt-3">
                    <p class="text-secondary">#[[${product.tag}]]</p>
                </div>
                    
               

                <div class="d-flex">
	                <a href="/list" class='btn btn-primary btn-sm m-1'>목록으로 이동</a>
	                <a th:if="${#authentication.principal.id eq product.admin.id}"
	                   th:href="@{'/admin/modify/' + ${product.id}}" class='btn btn-success btn-sm m-1'>
	                    수정</a>
	                    
	                <form th:if="${#authentication.principal.id eq product.admin.id}"
	                      class='d-inline' th:action="@{'/admin/delete/' + ${product.id}}" th:method="DELETE">
	                    <button class='btn btn-danger btn-sm m-1'>삭제</button>
	                </form>	                
                </div>
                
                <div th:if="${#authentication.principal.id eq product.admin.id}"
                    class="text-muted fst-italic mb-2 text-truncate">
                    등록자 : [[${product.admin.name}]]
                </div>
                <div th:if="${#authentication.principal.id eq product.admin.id}"
                    class="text-muted fst-italic mb-2 text-truncate">
                    등록일 : [[ ${#temporals.format(product.createdAt, 'yyyy-MM-dd HH:mm')} ]]
                </div>
                
                <div th:if="${#authentication.principal.id eq product.admin.id}"
                    class="text-muted fst-italic mb-2 text-truncate">
                    수정일 : [[ ${#temporals.format(product.updatedAt, 'yyyy-MM-dd HH:mm')} ]]
                </div>
            </div>
       
        
        
        
            <div class="row">
	            <button class="col-12 d-flex justify-content-center row border border-3 rounded p-3 mt-5"
	            type="button" data-bs-toggle="collapse" data-bs-target="#inputForm"
	                    aria-expanded="false" aria-controls="inputForm">구매하기</button>
	                    
	             <!-- 구매 상세 내용 -->
			    <div class="collapse mt-3" id="inputForm">
			        <div class="card border-success">
			            <div class="card-body">
			                <form action="/order/add" method="POST">
			                    <input type="hidden" name="product.id" th:value="${product.id}" />
			                    <input type="hidden" id="price" th:value="${product.price}" />
			
			                    <div class="mb-3">
			                        <label for="quantity" class="form-label">만남 횟수</label>
			                        <select id="quantity" name="quantity" class="form-select" required>
			                            <option th:each="i : ${#numbers.sequence(0, 10)}" 
			                                    th:value="${i}" th:text="${i}"></option>
			                        </select>
			                    </div>
			
			                    <div class="mb-3">
			                        <span class="fw-bold">가격: </span>
			                        <span id="total">0</span> 원
			                    </div>
			
			                    <button id="order-button" class="btn btn-success w-100 mt-3">결정</button>
			                </form>
			            </div>
			        </div>
			    </div>
	            
	            
            </div>
        
                     
      
      
      
      
        
         </div>
</main>
    <script layout:fragment="js">
	    document.addEventListener('DOMContentLoaded', function () {
	    	// 총 가격 실시간 반영
	        const quantitySelect = document.getElementById('quantity');
	        const totalSpan = document.getElementById('total');
	        const price = document.getElementById('price').value
	        console.log(price)
	        quantitySelect.addEventListener('change', function () {
	            const quantity = parseInt(quantitySelect.value, 10);
	            const totalPrice = price * quantity;
	            totalSpan.textContent = totalPrice.toFixed(0);
	        });
	        
	        // 0개 수량 선택 시 오류
	        const orderButton = document.getElementById('order-button');
	        const quantitySelect2 = document.getElementById('quantity');
	        orderButton.addEventListener('click', function (event) {
	        	const quantity = parseInt(quantitySelect2.value, 10);
	        	
	        	if (quantity === 0) {
	        		event.preventDefault(); // 폼 제출 방지
	        		alert("1개 이상 선택해주세요!");
	        	}
	        });
	        
	        
	    });
	</script>
</html>
