<!DOCTYPE html>

<!-- 타임리프의 속성은 th: 으로 시작 -->
<!-- th: 로 데이터를 바인딩하거나, 표현식 사용 -->

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>타임리프</title>
</head>
<body>
	<!-- "${변수}" : Spring 모델에서 변수를 가져와서 사용 -->

	<!-- text 내용을 서버로 보냄 -->
	<p th:text="${variable1}">이곳에 변수값이 대체됨</p>
	<!-- utext : HTML태그를 인식해서 보냄 -->
	<p th:utext="${variable2}">이곳에 변수값이 대체됨</p>

	<h1>사용자 정보</h1>
	<ul>
		<li th:text="${user.id}"></li>
		<li th:text="${user.name}"></li>
		<li th:text="${user.addr}"></li>
	</ul>
	
	
	<!-- @{} : url 링크 생성 -->
	<div>
		<a th:href="@{https://www.google.com/search(q=${user.name})}">구글</a>
	</div>
	
	<div>
		<a th:href="@{/search(keyword=${user.name})}">자체 검색</a>
	</div>
	
	

</body>
</html>