header {
    background-color: rgb(183, 214, 245);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
}

header a {
    text-decoration: none;
    color: rgb(1, 21, 42);
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    padding: 5px 10px;
    margin: 0 10px;
    border: 1px solid rgb(0, 89, 178);
    border-radius: 10px;
    background-color: white;
}

nav li:hover {
    background-color: lightgray;
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.5);
}