<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.kosta.mapper.CommunityMapper">

    <resultMap type="com.kosta.dto.Community" id="communityMap">
        <id property="id" column="comm_id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="hit" column="hit" />
        <result property="createdAt" column="comm_created_at" />
        
        <association property="creator" javaType="com.kosta.dto.User">
            <id property="id" column="creator_id" />
	        <result property="name" column="name" />
	        <result property="email" column="email" />
            <result property="createdAt" column="user_created_at" />

        </association>

    </resultMap>
    
    <!-- 이미지 다운로드 -->
    <select id="findFileById" parameterType="int" resultType="com.kosta.dto.CommunityFile">
        select * from community_file_tbl where id = #{id}
    </select>
    
    
    
      <!-- 게시글 전체 목록 -->
    <select id="findAll" resultMap="communityMap">
        select
            ct.id as comm_id, ct.title, ct.content, ct.hit, ct.creator_id, ct.created_at as comm_created_at,
            ut.name, ut.email, ut.created_at as user_created_at,
            <!-- 섬네일용 FileList의 첫째 가져오기 -->
            (select cf.stored_file_path from community_file_tbl cf where cf.community_id = ct.id limit 1) as thumbnail
            
        from community_tbl ct
        left join users_tbl ut on ct.creator_id = ut.id
        where ct.is_deleted = 'n'
    </select>
    
    
    <!-- 게시글 상세보기 -->
    <select id="findById" resultMap="communityMap" parameterType="int">
        select
            ct.id as comm_id, ct.title, ct.content, ct.hit, ct.creator_id, ct.created_at as comm_created_at,
            ut.name, ut.email, ut.created_at as user_created_at
        from community_tbl ct
        left join users_tbl ut on ct.creator_id = ut.id
        where ct.is_deleted = 'n' and ct.id = #{id}
    </select>
    
    
    
    
    <select id="findFileByCommunityId" resultType="com.kosta.dto.CommunityFile" parameterType="int">
        select * from community_file_tbl where community_id = #{id}
    </select>
    

  



    <insert id="save" parameterType="com.kosta.dto.Community" useGeneratedKeys="true" keyProperty="id">
        insert into community_tbl (title, content, creator_id) values (#{title}, #{content}, #{creator.id})
    </insert>
        
    <insert id="insertFiles" parameterType="com.kosta.dto.CommunityFile">
        insert into community_file_tbl (community_id, origin_file_name, stored_file_path, file_size)
        values
        <foreach collection="list" item="f" separator=",">
        (#{f.communityId}, #{f.originFileName}, #{f.storedFilePath}, #{f.fileSize})     
        </foreach>
    </insert>
    
    
    <!-- 게시글 삭제 -->
    <delete id="delete" parameterType="int">
        delete from community_tbl where id = #{id}
    </delete>

    <!-- 게시글 삭제시, 포함된 파일 삭제 -->
    <delete id="deleteFilesByCommunityId" parameterType="int">
        delete from community_file_tbl where community_id = #{id}
    </delete>


</mapper>

